@import "tailwindcss";

.urban-gradient {
  background: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 100%);
}

.form-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}